version: "3.9"

services:
  mithril-client:
    image: ghcr.io/input-output-hk/mithril-client:latest
    volumes:
      - node-db:/db
    command: >
      cardano-db download
      --download-dir /db
      --aggregator-endpoint https://aggregator.release-preprod.api.mithril.network/aggregator
      --genesis-verification-key 563519d0092c63eb6a6054f492b6db4fbd3195af916b23a776c539bf3378d30e
      latest
    profiles: ["init"]

  cardano-node:
    image: ghcr.io/intersectmbo/cardano-node:10.5.4
    user: "1000:1000"
    environment:
      - NETWORK=preprod
    volumes:
      - ./node-db:/data/db
      - ./ipc:/ipc
      - ./keys:/keys
      - ./params:/params
    restart: always

  ogmios:
    image: cardanosolutions/ogmios:latest
    command: [
      "--host", "0.0.0.0",
      "--node-socket", "/ipc/node.socket",
      "--node-config", "/params/config.json"
    ]
    volumes:
      - ./ipc:/ipc
      - ./params:/params
    ports:
      - "1338:1337"
    restart: on-failure
    depends_on:
      - cardano-node

  hydra-node:
    image: ghcr.io/cardano-scaling/hydra-node:1.2.0
    user: "1000:1000"
    command: 
      [
        "--node-id", "314",
        "--api-host", "0.0.0.0", 
        "--api-port", "4001",
        "--listen", "0.0.0.0:5001",
        "--monitoring-port", "6001",
        "--node-socket", "/ipc/node.socket",
        "--testnet-magic", "1",
        "--network", "preprod",
        "--hydra-signing-key", "/keys/hydra.sk",
        "--cardano-signing-key", "/keys/cardano.sk",
        "--ledger-protocol-parameters", "/params/protocol-parameters.json",
        "--persistence-dir", "/persistence"
      ]
    volumes:
      - ./ipc:/ipc
      - ./keys:/keys
      - ./params:/params
      - ./hydra-persistence:/persistence
    ports:
      - "5001:5001"
      - "4001:4001"
      - "6001:6001"
    restart: on-failure
    depends_on:
      - cardano-node

volumes:
  node-db:
  hydra-persistence:
